name: unpack-mcaddon
on:
  push:
    branches: [ main ]

jobs:
  unpack-file:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository content
          uses: actions/checkout@v2

        - name: Setup Python Version
          uses: actions/setup-python@v2
          with:
            python-version: 3.14

        - name: Execute Python Script
          run: python -OO .github/handle_addon_file.py

